.wrapper1 {
    font-size: 10px;
    display: flex;
    width: 100%;
    height: 92dvh;


    @media (max-width: 965px) {
        height: 84dvh;
    }

    .wrapper2 {
        width: 100%;

        section {
            font-size: 10px;
            width: 100%;

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                padding-left: 1.5em;
            }

            //#region header Info
            .header-info {
                margin-top: 2em;
                margin-bottom: 2em;
                display: flex;
                align-items: center;
                flex: 1;

                @media (max-width: 1300px) {
                    flex-direction: column;
                    align-items: start;
                }

                .title {
                    font-size: 6.1em;
                    font-weight: 700;
                    margin-right: 0.5em;

                    @media (max-width: 1040px) {
                        font-size: 5.5em;
                    }

                    @media (max-width: 330px) {
                        font-size: 4.8em;
                    }
                }

                //#region Arrow Back Button
                .arrow-back {
                    position: absolute;
                    display: none;

                    &:hover {
                        cursor: pointer;
                    }

                    @media (max-width: 750px) {
                        right: 2.5em;
                        display: block;
                    }
                }

                //#endregion

                .line {
                    width: 0.4em;
                    height: 5.9em;
                    background: #29abe2;
                    margin-right: 2.5em;

                    @media (max-width: 1300px) {
                        display: none;
                    }
                }

                h4 {
                    font-size: 2.7em;
                    font-weight: 400;
                }

                .line-mobile {
                    width: 12em;
                    background: #29abe2;
                    height: 0.3em;

                    @media (min-width: 1301px) {
                        display: none;
                    }
                }
            }

            //#endregion
        }

        section {
            font-size: 10px;
            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;

                //#region info container
                .info-container {
                    flex-wrap: wrap;
                    display: flex;
                    align-items: center;
                    flex: 1;

                    .initiales-bg {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 7em;
                        height: 7em;
                        background: #ff7a00;
                        border: 0.3em solid white;
                        border-radius: 50%;
                        box-shadow: 0px 0px 4px 1px
                            rgba($color: #000000, $alpha: 0.2);

                        p {
                            font-size: 3.2em;
                            color: white;
                        }
                    }

                    .name-user {
                        height: 9em;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 10px;
                        align-items: start;

                        h2 {
                            font-size: 4.7em;
                            font-weight: 700;
                            margin-left: 0.4em;

                            @media (max-width: 1130px) {
                                font-size: 4em;
                            }

                            @media (max-width: 1040px) {
                                font-size: 2em;
                            }
                        }

                        .edit-delete {
                            display: flex;
                            height: 2.5em;
                            margin-left: 3.6em;
                            gap: 1em;

                            @media (max-width: 1300px) {
                                display: none;
                            }

                            .edit,
                            .delete {
                                display: flex;
                                align-items: center;
                                font-size: 1.8em;
                                width: 4em;
                                background-color: white;
                                border: none;
                                cursor: pointer;
                                transition: color 0.2s ease;

                                &:hover {
                                    color: #29abe2;
                                    font-size: 1.9em;
                                }
                            }
                        }
                    }
                }

                //#endregion

                //#region detail infos
                .contactinfos {
                    margin-top: 1em;
                    font-size: 2em;
                    margin-bottom: 1em;
                }

                .mail-phone {
                    font-size: 1.6em;
                    font-weight: 700;
                    margin-bottom: 1em;
                    margin-top: 2em;
                }

                a {
                    font-size: 1.6em;
                    color: #007cee;
                    width: 90%;
                   

                    p {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                    }
                }

                .phonenumber {
                    font-size: 1.6em;
                }

                //#endregion
            }

            //#endregion
        }
    }
}

//#region mobile edit Button
.edit-mobilebtn {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 87%;
    right: 27px;
    width: 56px;
    height: 56px;
    background: #2a3647;
    border-radius: 50%;
    cursor: pointer;

    //#region Responsive Edit Mobil Button
    @media (min-width: 1300px) {
        display: none;
    }

    

    //#endregion

    &:hover {
        background: #29abe2;
    }

    .dropdown-menu {
        font-size: 10px;
        position: absolute;
        right: 0em;
        background-color: white;
        border-radius: 20px;
        border-bottom-right-radius: 0;
        box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.274);
        width: 120px;
        z-index: 100;
        animation: fade-in-left 0.5s ease-in-out;
    }

    .dropdown-menu div {
        display: flex;
        align-items: center;
        padding: 1.5em 2em 1.5em 2em;
        cursor: pointer;
    }

    .edit {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .dropdown-menu div:hover {
        background-color: #f0f0f0;
        border-radius: 20px;
        border-bottom-right-radius: 0;
    }

    .dropdown-menu img {
        width: 2em;
        height: 2em;
        margin-right: 1em;
    }

    p {
        font-size: 1.5em;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 4;
    background: rgba($color: #000000, $alpha: 0);
}
