@import "./../../styles.scss";
@import "./overlay-right-task.scss";

section {
    font-size: 10px;
    @include flex();

    @media (max-width: 1300px) {
        display: none;
    }
}

.content {
    width: 100%;
    height: 800px;
    display: flex;
    z-index: 15;
    border-radius: 40px;
    background-color: white;
    box-shadow: black 0px 0px 15px 0px;

    @media (max-width: 1300px) {
        display: none;
    }

    // ----------- Left Side ----------
    .left-addtask {
        width: 49%;
        @include flex();
        flex-direction: column;

        .left-content-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 80%;
            width: 80%;

            .kanban-form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 66%;
                bottom: 13.5em;

                h1 {
                    font-size: 6em;
                }

                .form-label {
                    font-size: 1.6em;

                    .required-asterisk {
                        color: red;
                        margin-right: 1em;
                    }
                }

                .required-label {
                    font-size: 1.6em;
                }

                .div-cont {
                    display: flex;
                    flex-direction: column;
                    min-height: 64px;

                    .input,
                    textarea {
                        min-height: 48px;
                        border-radius: 15px;
                        padding: 0.5em;
                        font-size: 16px;
                        resize: none;
                        border: 2px solid rgba(0, 0, 0, 0.049);

                        &:focus {
                            border: 2px solid #29abe2;
                        }
                    }

                    .input-date {
                        width: 100%;
                        height: 48px;
                        border-radius: 10px;
                        padding: 0.5em;
                        font-size: 16px;
                        border: 2px solid rgba(0, 0, 0, 0.049);
                        color: black;

                        &:focus {
                            border: 2px solid #29abe2;
                        }
                    }

                    textarea {
                        height: 84px;
                    }

                    span {
                        color: rgba(0, 0, 0, 0.746);
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.line {
    @include flex();
    flex-direction: column;
    width: 2px;
    height: 100%;

    .hyphen {
        @include flex();
        width: 100%;
        height: 50%;
        background-color: rgba(0, 0, 0, 0.049);
        margin: 0px 2px;
    }
}

.user-feedback {
    z-index: 4;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    animation: fade-in-bottom-overlay-viewport 2s ease-in-out;
}

// -------- Other Components ----------
.contact-list-content {
    display: flex;
    height: 90%;
}

.contact-list-component {
    display: flex;
    height: auto;

    @media (max-width: 750px) {
        width: 100%;
    }

    @media (min-width: 750px) {
        display: flex;
    }
}

.hidden {
    display: none;
}

.info-screen-component {
    height: auto;
    width: 100%;

    @media (max-width: 750px) {
        display: none;
    }
}

.app-info-screen-mobile-component {
    width: 100%;

    @media (min-width: 750px) {
        display: none;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
}

.createdContact {
    z-index: 4;
    width: 15em;
    height: 4em;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 14px;
    border: 1px solid black;
    background-color: #2a3647;
    color: white;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15);
    animation: fade-in-left-overlay-viewport 2s ease-in-out;
}

.display {
    display: flex;
}

.mat-mdc-option:focus.mdc-list-item,
.mat-mdc-option.mat-mdc-option-active.mdc-list-item {
    display: flex;
    flex-direction: row-reverse;
    background-color: #2a3647;
    color: white;

    &:hover {
        background-color: #091931;
    }
}

.mat-mdc-option.mdc-list-item {
    display: flex;
    flex-direction: row-reverse;
    background: white;

    &:hover {
        background: #eeeeee;
    }
}

.option-text {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.left-side-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-label {
    display: flex;
    width: 80%;
    font-size: 1.6em;

    .required-asterisk {
        color: red;
        margin-right: 1em;
    }
}

.close-button {
    position: absolute;
    z-index: 2;
    font-weight: 600;
    top: 19px;
    right: 35px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    font-size: 21px;
    color: rgb(95, 95, 95);
    width: 32px;
    height: 32px;
    background: url("../../../public/assets/img/kanban-board/fullCardCloseButton.png");
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-in-out 0.15s;

    &:hover {
        background-color: rgb(230, 230, 230);
    }
}

.errorborder {
    border: 2px solid red !important;
}

.invalid-input {
    height: 12px;
    font-size: 12px;
    color: red;
}

.already-assigned {
    height: 2em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 0.5em;

    .select-initials {
        width: 2em;
        height: 2em;
        font-size: 1.6em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1em;
        color: white;
    }

    .more-users {
        font-size: 16px;
    }
}

.each-sub-task {
    overflow-y: auto;
    height: 80px;
    padding-top: 2em;

    li {
        font-size: 16px;
    }

    textarea {
        height: 25px;
        width: calc(100% - 5em);
        background: transparent;
        border: none;
        border-bottom: 2px solid #29ABE2;
        resize: none;
        font-size: 16px;
        color: #333;
        outline: none;
        margin-top: 1em;
        padding-bottom: 4px;
        vertical-align: bottom;

        &:focus {
            border-bottom: 2px solid #29ABE2;
        }
    }
}