.background-overlay {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.205);
    font-size: 10px;

    @media (max-width: 1250px) {
        font-size: 9px;
    }

    @media (max-width: 1150px) {
        font-size: 8px;
    }

    @media (max-width: 1000px) {
        font-size: 7px;
    }


    .content {
        height: 100dvh;

        .overlay-contact {
            position: absolute;
            z-index: 100;
            border-radius: 25px;
            overflow: hidden; //damit border-radius geht
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 120em;
            height: 70dvh;
            animation: fade-in-left-fullcard 0.5s ease-in-out;
            @media(max-width:870px){
                width: 90%;
                height: 80dvh;
            }

            .d-flex {
                display: flex;
                height: 100%;
                width: 100%;
                @media(max-width: 870px){
                    flex-direction: column;
                    align-items: center;
                }

                .add-contact {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 40%;
                    background-color: #2a3647;
                    color: white;
                    @media(max-width: 870px){
                        height: 70%;
                        width: 100%;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                    }

                    .mobile-image {
                        display: none;
                        position: absolute;
                        z-index: 10;
                        bottom: 0%;
                        left: 50%;
                        height: clamp(100px, 20vw, 140px);
                        transform: translate(-50%, 50%);
                        @media(max-width:870px){
                            display: flex;
                        }
                    }

                    .mobile-close {
                        display: none;
                        position: absolute;
                        cursor: pointer;
                        top: 30px;
                        right: 20px;
                        @media(max-width:870px){
                            display: flex;
                        }

                        &:active {
                            background-color: #29abe2;
                            border-radius: 50px;
                        }
                    }

                    .center-contact {
                        padding-bottom: 80px;
                        @media(max-width:870px){
                            padding-bottom: 0px;
                        }
                    }

                    img {
                        align-self: flex-start;
                        @media(max-width:870px){
                            display: none;
                        }
                    }

                    h2 {
                        font-size: 6em;
                        font-weight: 700;
                    }

                    span {
                        font-size: 2.5em;
                    }

                    .blue-line {
                        display: flex;
                        width: 25%;
                        height: 3px;
                        background-color: #29abe2;
                        margin-top: 10px;
                    }
                }

                .user-data {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 60%;
                    background-color: rgb(255, 255, 255);
                    @media(max-width:870px){
                        width: 100%;
                    }

                    .close-image {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        cursor: pointer;
                        right: 40px;
                        top: 40px;
                        width: 20px;
                        height: 20px;
                        @media(max-width:870px){
                            display: none;
                        }

                        img {
                            width: 14px;
                            height: 14px;
                        }

                        &:hover {
                            background-color: rgb(224, 224, 224);
                            border-radius: 50px;
                        }
                    }

                    .user-image {
                        display: flex;
                        justify-content: center;
                        width: 20%;
                        @media(max-width:870px){
                            display: none;
                        }
                    }

                    .user-contact-data {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 70%;
                        @media(max-width:870px){
                            width: 100%;
                        }

                        .contact-form {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            width: 80%;
                            margin-top: 5em;

                            .invalid-input {
                                height: 12px;
                                font-size: 12px;
                                color: red;
                                padding-top: 5px;
                                padding-left: 1em;
                            }

                            input {
                                width: 100%;
                                height: 40px;
                                border-radius: 10px;
                                margin-top: 20px;
                                padding: 0 10px;
                                border: rgba(0, 0, 0, 0.109) 2px solid;
                                transition: border 0.2s ease;
                                @media(max-width:413px){
                                    margin-top: 0px;
                                }
                            }

                            input:hover:required {
                                border: #29abe2 2px solid;
                                outline: none;
                            }

                            .invalid {
                                border: 2px solid red;
                                background-color: #ffe6e6;
                            }

                            .user {
                                background: url("./../../../../public/assets/img/add-contacts/person.svg");
                                background-repeat: no-repeat;
                                background-size: 20px 20px;
                                background-position: 95% 50%;
                            }

                            .mail {
                                background: url("./../../../../public/assets/img/add-contacts/mail.svg");
                                background-repeat: no-repeat;
                                background-size: 20px 20px;
                                background-position: 95% 50%;
                            }

                            .phone {
                                background: url("./../../../../public/assets/img/add-contacts/call.svg");
                                background-repeat: no-repeat;
                                background-size: 20px 20px;
                                background-position: 95% 50%;
                            }
                        }

                        .cancel-create-contact {
                            display: flex;
                            gap: 20px;
                            margin-top: 20px;

                            button {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 10px;
                                font-size: 16px;
                                padding: 12px;
                                border-radius: 10px;
                                border: 1px solid black;

                                img {
                                    height: 14px;
                                    width: 14px;
                                }
                            }

                            .create {
                                background-color: #2a3647;
                                color: white;
                                transition: 0.2s ease-in-out;

                                &:hover {
                                    background-color: #29abe2;
                                    border: 1px solid #29abe2;
                                    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15);
                                }
                            }

                            .cancel {
                                background-color: transparent;
                                transition: 0.2s ease-in-out;

                                &:hover {
                                    border: 1px solid #29abe2;
                                    color: #29abe2;
                                    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// @media (max-width: 1000px) {
//     .background-overlay {
//         .content {
//             .overlay-contact {
//                 height: 60dvh;

//                 @media (max-width: 880px) {
//                     height: 55dvh;
//                 }

//                 @media (max-width: 750px) {
//                     height: 80dvh;
//                 }

//                 @media (max-width: 680px) {
//                     width: 95dvw;
//                 }

//                 .user-data {
//                     .user-contact-data {
//                         width: 60%;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 880px) {
//     .background-overlay {
//         .content {
//             .overlay-contact {
//                 .d-flex {
//                     .user-data {
//                         .user-image {
//                             img {
//                                 height: 100px;
//                                 width: 100px;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 750px) {
//     .background-overlay .content {
//         .overlay-contact {
//             .mobile-image {
//                 display: block;

//                 @media (max-width: 680px) {
//                     img {
//                         height: 100px;
//                     }
//                 }
//             }

//             .d-flex {
//                 flex-direction: column;
//                 align-items: center;

//                 .add-contact {
//                     width: 100%;
//                     height: 40%;

//                     .mobile-close {
//                         display: block;
//                     }

//                     .center-contact {
//                         padding: 0;

//                         img {
//                             display: none;
//                         }
//                     }
//                 }

//                 .user-data {
//                     height: 60%;
//                     width: 100%;

//                     .user-image {
//                         display: none;
//                     }

//                     .close-image {
//                         display: none;
//                     }

//                     .user-contact-data {
//                         height: 80%;

//                         .contact-form {
//                             width: 360px;

//                             @media (max-width: 390px) {
//                                 width: 280px;
//                             }

//                             gap: 20px;
//                         }

//                         .cancel-create-contact {
//                             button {
//                                 font-size: 14px;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
