<section>
    <div class="not-footer">
        <div class="logo">
        <img src="assets/img/navbar/Join logo vector.png" alt="">
    </div>
    <nav>
        <ul>
            <li><a routerLink="/summary"><img src="assets/img/navbar/Summary.png" alt="">Summary</a></li>
            <li><a routerLink="/task"><img src="assets/img/navbar/Add task.png" alt="">Add Task</a></li>
            <li><a routerLink="/board"><img src="assets/img/navbar/Board.png" alt="">Board</a></li>
            <li class="active"><a routerLink="/contacts"><img src="assets/img/navbar/Contacts.png" alt="">Contacts</a></li>
        </ul>
    </nav>
    </div>
    <footer>
        <a routerLink="/privacy">Privacy Policy</a>
        <a routerLink="/legalNotice">Legal notice</a>
    </footer>
</section>