section {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 23em;
    background: #2a3647;
    z-index: 5;
    padding: 4.8em 0;

    @media (max-width: 965px) {
        display: none;
    }

    .not-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .logo {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 11em;

            img {
                height: 11.2em;
            }
        }

        nav {

            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                color: rgba($color: #ffffff, $alpha: 0.5);

                li {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 1rem;
                    font-weight: lighter;
                    padding: 0.3em;
                    width: 100%;

                    margin: 0.6em 0;

                    a {
                        text-align: center;
                        display: flex;
                        align-items: center;
                    }

                    &:hover {
                        cursor: pointer;
                        background: #2a3d59;
                    }

                    img {
                        margin-right: 0.8em;
                        margin-left: 3em;
                        opacity: 0.5;
                    }
                }

                .active {
                    color: #ffffff;
                    background: #091931;
                    font-weight: normal;

                    img {
                        opacity: 1;
                    }

                    &:hover {
                        cursor: default;
                        background: #091931;
                    }
                }
            }
        }
    }

    footer {
        height: 50dvh;
        display: flex;
        margin-left: 3.5em;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        a {
            color: white;
            padding: 0.5em;
            opacity: 0.5;
            font-size: 1.6em;

            &:hover {
                opacity: 1;
                font-size: 1.1rem;
                color: #29abe2;
            }
        }
    }
}