section {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 23em;
    background: var(--color-button);
    z-index: 5;
    padding: 4.8em 0;

    @media (max-width: 965px) {
        display: none;
    }

    .not-footer {
        width: 100%;
        height: 25dvh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 25dvh;

        .logo {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 11em;

            img {
                height: 11.2em;
            }
        }

        nav {

            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                color: rgba($color: #ffffff, $alpha: 0.5);

                a {
                    color: white;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    width: 100%;

                    li {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-size: 1rem;
                        padding: 0.3em;
                        width: 100%;

                        margin: 0.6em 0;

                        img {
                            margin-right: 0.8em;
                            margin-left: 3em;
                            opacity: 0.5;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        background: var(--color-hover-nav);
                        color: var(--color-hover);
                    }
                }




                .active {
                    color: #ffffff;
                    background: var(--color-active-nav);
                    font-weight: normal;

                    img {
                        opacity: 1;
                    }

                    &:hover {
                        cursor: default;
                        background: var(--color-active-nav);
                        color: #ffffff;
                    }
                }
            }
        }
    }

    footer {
        height: 50dvh;
        display: flex;
        margin-left: 3.5em;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        a {
            color: white;
            padding: 0.5em;
            opacity: 0.5;
            font-size: 1.6em;
            height: 40px;

            &:hover {
                opacity: 1;
                font-size: 1.1rem;
                color: var(--color-hover);
            }
        }
    }
}