<section>
    <div class="not-footer">
        <div class="logo">
        <img src="assets/img/navbar/Join logo vector.png" alt="">
    </div>
    <nav>
        <ul>
            <a class="summary" (click)="toggleActive('summary')" routerLink="/summary"><li><img src="assets/img/navbar/Summary.png" alt="">Summary</li></a>
            <a class="task" (click)="toggleActive('task')" routerLink="/task"><li><img src="assets/img/navbar/Add task.png" alt="">Add Task</li></a>
            <a class="board" (click)="toggleActive('board')" routerLink="/board"><li><img src="assets/img/navbar/Board.png" alt="">Board</li></a>
            <a class="contacts" (click)="toggleActive('contacts')" routerLink="/contacts"><li><img src="assets/img/navbar/Contacts.png" alt="">Contacts</li></a>
        </ul>
    </nav>
    </div>
    <footer>
        <a (click)="toggleActive('')" routerLink="/privacy">Privacy Policy</a>
        <a (click)="toggleActive('')" routerLink="/legalNotice">Legal notice</a>
    </footer>
</section>