.main-content {
    display: flex;
    height: 100dvh;

    @media (max-width:965px) {
        height: 92dvh;
    }
}

.main-content-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-list-content {
    display: flex;
    height: auto;
    height: 90%;
}

.contact-list-component {
    display: flex;
    height: auto;
}

.info-screen-component {
    display: flex;
    height: auto;
}