.main-content {
    display: flex;
    height: 100dvh;
}

.main-content-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-list-content {
    display: flex;
    height: 90%;
}

.contact-list-component {
    display: flex;
    height: auto;

    @media (max-width:750px) {
        width: 100%;
    }

    @media (min-width: 750px) {
        display: flex;
    }
}

.hidden {
    display: none;
}
.info-screen-component {
    height: auto;
    width: 100%;

    @media (max-width:750px) {
        display: none;
    }
}

.app-info-screen-mobile-component {
    width: 100%;

    @media (min-width: 750px) {
        display: none;
    }
}
