section {
    font-size: 10px;
    height: 8dvh;
    background: var(--color-container);
    box-shadow: 0 0.6em 0.6em -0.2em rgba($color: #000000, $alpha: 0.2);
    z-index: 10;
    color: var(--color-normal-text);

    .content {
        width: 100%;
        max-width: (1920px - 230px);
        display: flex;
        align-items: center;
        height: 100%;

        header {
            width: 100%;
            height: 100%;
            padding: 0em 5em;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .kanban {
                font-size: 1.8em;
                padding-left: 2em;
                &::after {
                    content: "Kanban Project Management Tool";
                }

                @media (max-width:750px) {
                    padding-left: 0;
                    &::after {
                        background-image: url('./../../../../public/assets/img/header/Logo.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        display: inline-block;
                        height: 6dvh;
                        width: 4em;
                        content: "";
                    }
                }
            }

            .menu {
                display: flex;
                align-items: center;

                .help {
                    background: url('./../../../../public/assets/img/header/help-hover.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 2.7em;
                    width: 3.6em;
                    margin-right: 0.9em;

                    &:hover {
                        background: url('./../../../../public/assets/img/header/help.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        cursor: pointer;
                    }

                    @media (max-width:750px) {
                        display: none;
                    }
                }

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    height: 49px;
                    width: 49px;
                    font-size: 1.6em;
                    color: var(--color-hover);
                    font-weight: bold;
                    border: solid var(--color-normal-text) 0.15em;
                    border-radius: 50%;
                    z-index: 15;
                    opacity: 0.8;
                    @media(max-width:750px){
                        height: 39px;
                        width: 39px;
                    }

                    &:hover {
                        background: var(--color-text-active-rgb);
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }

            @media (max-width:750px) {
                padding: 1em;
            }
        }

        #drop-down {
            background: var(--color-button);
            z-index: 20;
            position: absolute;
            right: 5em;
            top: 8dvh;
            border-radius: 2.4em;
            border-top-right-radius: 0;
            padding: 1em;
            animation: fade-in-left 0.75s ease-in-out;
            user-select: none; /* Verhindert Textmarkierung */
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE/Edge */
            #help {
                display: none;

                @media (max-width:750px) {
                    display: block;
                }
            }

            p {
                padding: 0.8em;
                font-size: 1.6em;
                color: rgba($color: #FFFFFF, $alpha: 0.4);

                &:hover {
                    background: var(--color-hover-nav);
                    border-radius: 20px;
                    cursor: pointer;
                }
            }

            @media (max-width:750px) {
                right: 1em;
            }
        }
    }
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 4;
    background: rgba($color: #000000, $alpha: 0);
}

.active {
    background: rgba($color: #0C2E62, $alpha: 0.12) !important;
    cursor: pointer;
}