<section class="dimmed-background" (click)="handleBackdropClick($event)">
    <div class="overlay-kanban-edit" (click)="$event.stopPropagation() ;subtaskTest($event); closeEditingSubtaskOnOverlay($event)">
        <div class="close-button" (click)="boardService.toggleEditOverlay()">
            <img src="assets/img/add-contacts/Vector.svg"  alt="" />
        </div>
        <div class="overlay-content-wrapper">
            <div class="content-in-overlay">
                <form class="kanban-overlay-form">
                    <div class="form-title kanban-div">
                        <span>Title</span>
                        <input [(ngModel)]="task.title" name="taskTitle" placeholder="Enter a title" type="text">
                    </div>
                    <div class="form-description kanban-div">
                        <span>Description</span>
                        <textarea [(ngModel)]="task.description" name="taskDescription" placeholder="Enter a Description "></textarea>
                    </div>
                    <div class="form-date kanban-div">
                        <span>Due date</span>
                        <input type="date" [(ngModel)]="task.dueDate" name="taskDate"/>
                    </div>
                </form>

                <div class="kanban-edit-overlay-priority">
                    <p>Priority</p>
                    <div class="prioity-buttons">

                        <button (click)="changeToUrgent()" [disabled]="task.priority === 'Urgent'"  [class.active-urgent]="task.priority === 'Urgent'">
                            <span>Urgent</span>
                            @if(task.priority !== 'Urgent'){
                                <img src="assets/img/kanban-edit-overlay/urgent-arrow.svg"alt=""/>
                            }@else {
                                <img src="assets/img/kanban-edit-overlay/white-urgent.svg"alt=""/>
                            }
                        </button>

                        <button (click)="changeToMedium()" [disabled]="task.priority === 'Medium'"   [class.active-medium]="task.priority === 'Medium'">
                            <span>Medium</span>
                            @if(task.priority !== 'Medium'){
                                <img src="assets/img/kanban-edit-overlay/medium-arrow.svg"alt=""/>
                            }@else {
                                <img src="assets/img/kanban-edit-overlay/white-medium.svg"alt=""/>
                            }
                        </button>

                        <button (click)="changeToLow()" [disabled]="task.priority === 'Low'" [class.active-low]="task.priority === 'Low'">
                            <span>Low</span>
                            @if(task.priority !== 'Low'){
                                <img src="assets/img/kanban-edit-overlay/low-arrow.svg" alt=""/>
                            }@else{
                                <img src="assets/img/kanban-edit-overlay/white-low.svg" alt=""/>
                            }
                        </button>

                    </div>
                </div>

                <div class="kanban-assigned-to">
                    <span class="assigned-span">Assigned to</span>
                    <div class="all-user-container">
                        <mat-select [(ngModel)]="task.assignedTo" panelClass="select-to-assign"  required name="name" id="" multiple>
                            @for (assigned of task.assignedTo; track $index) {
                                <mat-option id={{$index}} [value]="assigned" aria-checked="true">
                                    <div class="option-text"><div class="select-initials" [style.background]="assigned.color">{{assigned.initials}}</div> <div>{{assigned.firstName}} {{assigned.lastName}}</div></div>
                                </mat-option>
                            }
                            @for (user of overlayState.contactList; track $index) {
                                @if (!isUserAssigned(user)) {
                                <mat-option id={{$index}} [value]="user">
                                    <div class="option-text"><div class="select-initials" [style.background]="user.color">{{user.initials}}</div> <div>{{user.firstName}} {{user.lastName}}</div></div>
                                </mat-option>
                                }
                            } 
                        </mat-select>
                    </div>
                    <div class="already-assigned">@for (assigned of task.assignedTo; track $index) {
                    <div id={{$index}} class="select-initials" [style.background]="assigned.color">{{assigned.initials}}</div>              
                    }</div>
                </div>

                <div class="kanban-overlay-subtask">
                    <span>Subtask</span>
                    <div class="subtaskfield" (click)="$event.stopPropagation();">
                        <input [(ngModel)]="subtaskString" type="text"(focus)="isInputFocused = true" >
                        @if(!isInputFocused){
                            <div class="add">
                                <img src="assets/img/kanban-edit-overlay/plus-zichen.svg" alt=""/>
                            </div>
                        }@else {
                            <div class="submit-cancel">
                                <button (click)="emptySubtask()">
                                    <img  src="assets/img/kanban-edit-overlay/exit-subtask.svg" alt="">
                                </button>
                                
                                <div class="grey-line"></div>
                                <button (click)="pushToSubtask()">
                                    <img  src="assets/img/kanban-edit-overlay/checkmark-subtask.svg" alt="">
                                </button>
                            </div>
                        }
                    </div>
                    <div class="each-sub-task">
                        @for (subtask of task.subTaskFillTest; track $index) {
                            @if (editingSubtaskIndex === $index) {
                                <li (click)="$event.stopPropagation()">
                                    <textarea [(ngModel)]="editingSubtaskValue"></textarea>
                                    <button (click)="saveEditingSubtask($index); $event.stopPropagation()">s
                                    
                                    </button>
                                    <button (click)="cancelEditingSubtask(); $event.stopPropagation()">x
                                        
                                    </button>
                                </li>
                            }@else {
                                <li (dblclick)="startEditingSubtask($index)">
                                    {{ subtask.text }}
                                </li>
                            }
                        }
                    </div>
                </div>
            </div>
            
            <div class="confirm-edit-button">
                <button (click)="confirmChanges(); boardService.toggleEditOverlay()">
                    <span>Ok</span>
                    <img src="assets/img/add-contacts/check.svg" alt="" />
                </button>
            </div>
        </div>
    </div>
</section>
