<section class="dimmed-background">
    <div class="overlay-kanban-edit">
        <div class="close-button">
            <img src="assets/img/add-contacts/Vector.svg" alt="" />
        </div>
        <div class="testzwecken">
            <button class="prev">Prev</button>
            <button class="next">Next</button>
        </div>
        <div class="overlay-content-wrapper">
            <div class="content-in-overlay">
                <form class="kanban-overlay-form">
                    <div class="form-title kanban-div">
                        <span>Title</span>
                        <input placeholder="Enter a title" type="text" />
                    </div>
                    <div class="form-description kanban-div">
                        <span>Description</span>
                        <textarea
                            placeholder="Enter a Description "
                            name=""
                            id=""
                        ></textarea>
                    </div>
                    <div class="form-date kanban-div">
                        <span>Due date</span>
                        <input type="date" />
                    </div>
                </form>

                <div class="kanban-edit-overlay-priority">
                    <p>Priority</p>
                    <div class="prioity-buttons">

                        <button>
                            <span>Urgent</span>
                            <img
                                src="assets/img/kanban-edit-overlay/urgent-arrow.svg"alt=""/>
                        </button>

                        <button>
                            <span>Medium</span>
                            <img
                                src="assets/img/kanban-edit-overlay/medium-arrow.svg"alt=""/>
                        </button>

                        <button>
                            <span>Low</span>
                            <img
                                src="assets/img/kanban-edit-overlay/low-arrow.svg" alt=""/>
                        </button>

                    </div>
                </div>

                <div class="kanban-assigned-to">
                    <span class="assigned-span">Assigned to</span>
                    <div class="all-user-container">
                        <select class="select-to-assign" required name="name" id="">
                            <option value="1">hallo</option>
                            <option value="2">haallo</option>
                            <option value="3">haaallo</option>
                            <option value="4">haaaallo</option>
                        </select>
                    </div>
                </div>

                <div class="kanban-overlay-subtask">
                    <span>Subtask</span>
                    <div class="subtaskfield">
                        Add new subtask
                        <img
                            src="assets/img/kanban-edit-overlay/plus-zichen.svg"
                            alt=""
                        />
                    </div>
                    <div class="each-sub-task">
                        <li>Contact Form</li>
                    </div>
                </div>
            </div>
            <div class="confirm-edit-button">
                <button>
                    <span>Ok</span>
                    <img src="assets/img/add-contacts/check.svg" alt="" />
                </button>
            </div>
        </div>
    </div>
</section>
