<section>
  <div class="content">
    <div class="background-content">
      <div class="logo-wrapper slide">
        <img id="animated-logo" class="logo" src="assets/img/header/Logo.png" alt="Logo Join">
      </div>
      <div class="login-nav">
        <p>Not a Join User?</p>
        <button class="register-button" routerLink="/signup">Sign up</button>
      </div>
    </div>

    <div class="login-container">
      <div class="login-overlay">
        <div class="login-title">
          <h1>Log in</h1>
          <div class="title-line"></div>
        </div>
        <div class="login-form">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input class="mail-icon" type="email" placeholder="Email" formControlName="email"
              [class.error-border]="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
            <input class="lock-icon" [type]="showPassword ? 'text' : 'password'" placeholder="Password"
              formControlName="password" [class.error-border]="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">

            <span (click)="showPassword = !showPassword" class="toggle-password"> {{ showPassword ? 'hide-Pw' : 'show-Pw' }} </span>

            <div class="error-text">
              <p>{{errorMessage}}</p>
            </div>

            <div class="form-btn">
              <button type="submit" class="login-button">Login</button>
              <button (click)="guestLogIn()" class="guest-button" routerLink="/">Guest Log in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="login-nav-mobile">
      <p>Not a Join User?</p>
      <button class="register-btn-mobile" routerLink="/signup">Sign up</button>
    </div>
    <footer>
      <div class="footer-content">
        <a routerLink="/privacy">Privacy Policy</a>
        <a routerLink="/legalNotice">Legal notice</a>
      </div>
    </footer>
  </div>
</section>