<section>
  <div class="content">
    <div class="headline-area">
      <h1>Board</h1>
      <div class="search-input">
        <input type="text" placeholder="Find Task">
        <button class="search-button">
          <div class="hyphen"></div>
          <img src="../../../../assets/img/kanban-board/search.png" alt="Search" width="20">
        </button>
        <button class="add-task-button">Add task +</button>
      </div>
    </div>
    <div class="board">

      <div class="task-column">
        <div class="add-area">
          <h3>To do</h3> <button class="small-add-task-button">+</button>
        </div>
        <div class="testcontainer"></div>
        <div class="testcontainer"></div>
      </div>

      <div class="task-column">
        <div class="add-area">
          <h3>In progress</h3> <button class="small-add-task-button">+</button>
        </div>
        <div class="testcontainer"></div>
      </div>

      <div class="task-column">
        <div class="add-area">
          <h3>Await feedback</h3> <button class="small-add-task-button">+</button>
        </div>
      </div>

      <div class="task-column">
        <div class="add-area">
          <h3>Done</h3> <button class="small-add-task-button">+</button>
        </div>
        <div class="testcontainer"></div>
        <div class="testcontainer"></div>

      </div>
    </div>
  </div>
</section>