<section>
  <div class="content">
    <div class="headline-area">
      <h1>Board</h1>
      <div class="search-input">
        <input type="text" placeholder="Find Task" class="searchTitle" name="searchTitle" (keyup)="searchTasks()">
        <button class="search-button" (click)="searchTasks()">
          <div class="hyphen"></div>
          <img src="../../../../assets/img/kanban-board/search.png" alt="Search" width="20">
        </button>
        <button class="add-task-button">Add task +</button>
      </div>
    </div>
    <div class="board">

      <div class="task-column">
        <div class="add-area">
          <h3>To do</h3> <button class="small-add-task-button">+</button>
        </div>
        
        <div class="task-columns" cdkDropList [cdkDropListData]="tasksSearchAndStatus('to do', searchValue)"
          (cdkDropListDropped)="drop($event)" id="to do"> 



          @if (tasksSearchAndStatus('to do', searchValue).length === 0)
          {
          <div class="no-task-place-holder">
            No tasks to do
          </div>
          } @else {
          @for (task of tasksSearchAndStatus('to do', searchValue); track $index) {
          <app-card [cdkDragData]="task" [task]="task" (click)="boardService.openFullCard(task) " cdkDrag></app-card>
          }
          }
        </div>
      </div>

      <div class="task-column">
        <div class="add-area">
          <h3>In progress</h3> <button class="small-add-task-button">+</button>
        </div>
        <div class="task-columns" cdkDropList [cdkDropListData]="tasksSearchAndStatus('in progress', searchValue)"
          (cdkDropListDropped)="drop($event)" id="in progress">
          @if (tasksSearchAndStatus('in progress', searchValue).length === 0) {
          <div class="no-task-place-holder">No tasks to do</div>
          } @else {
          @for (task of tasksSearchAndStatus('in progress', searchValue); track $index) {
          <app-card [cdkDragData]="task" [task]="task" (click)="boardService.openFullCard(task)" cdkDrag></app-card>
          }
          }
        </div>
      </div>

      <div class="task-column">
        <div class="add-area">
          <h3>Await feedback</h3> <button class="small-add-task-button">+</button>
        </div>
        <div class="task-columns" cdkDropList [cdkDropListData]="tasksSearchAndStatus('await feedback', searchValue)"
          (cdkDropListDropped)="drop($event)" id="await feedback">
          @if (tasksSearchAndStatus('await feedback', searchValue).length === 0) {
          <div class="no-task-place-holder">No tasks to do</div>
          } @else {
          @for (task of tasksSearchAndStatus('await feedback', searchValue); track $index) {
          <app-card [cdkDragData]="task" [task]="task" (click)="boardService.openFullCard(task)" cdkDrag></app-card>
          }
          }
        </div>
      </div>

      <div class="task-column">
        <div class="add-area">
          <h3>Done</h3> <button class="small-add-task-button">+</button>
        </div>
        <div class="task-columns" cdkDropList [cdkDropListData]="tasksSearchAndStatus('done', searchValue)"
          (cdkDropListDropped)="drop($event)" id="done">
          @if (tasksSearchAndStatus('done', searchValue).length === 0) {
          <div class="no-task-place-holder">No tasks to do</div>
          } @else {
          @for (task of tasksSearchAndStatus('done', searchValue); track $index) {
          <app-card [cdkDragData]="task" [task]="task" (click)="boardService.openFullCard(task)" cdkDrag></app-card>
          }
          }
        </div>
      </div>
    </div>
  </div>

  @if (boardService.fullCardActive && boardService.selectedTask) {
  <app-full-card [task]="boardService.selectedTask"></app-full-card>
  }
</section>