<section>
  <div class="full-card-container">
    <div class="category-area">
      <div class="category {{task.category?.toLocaleLowerCase()}}">{{task.category}}</div>
      <button class="close-button" (click)="boardService.openFullCard(task)"></button>
    </div>

    <div class="title">
      <h1>{{task.title}}</h1>
    </div>

    <div class="description">
      {{task.description}}
    </div>

    <div class="input">
      <span>Due date:</span>
      <p>{{task.dueDate}}</p>
    </div>

    <div class="input">
      <span>Priority:</span>
      <p>{{task.priority}}</p>
      <div [class]="task.priority.toLowerCase()"></div>
    </div>

    <div class="input-assigned-to">
      <span>Assigned To:</span>
      <div class="user-priority">
        @for (user of task.assignedTo; track $index) {
        <div class="user-details">
          <div class="user initials"><!--{{ user.user.slice(0, 2).toLocaleUpperCase()}} --></div>
          <div class="user-name"><!--{{user.user}}--></div>
        </div>

        }
      </div>
    </div>


    <div class="input-assigned-to">
      <span>Subtasks:</span>
      <div class="subtask-priority">
        @for (subtask of subTasks; track $index) {
          @if (subtask.completed == true) {
            <div class="subtask">
              <div (click)="toggleCheckbox($index)" class="checkbox-active"></div> {{subtask.text}}
            </div>
            } @else {
            <div class="subtask">
              <div (click)="toggleCheckbox($index)" class="checkbox"></div> {{subtask.text}}
            </div>
          }
        }
      </div>
    </div>

    <div class="edit-delete-area">

      <div class="delete-container">
        <div class="delete"></div>
        <p>Delete</p>
      </div>

      <div class="hyphen"></div>

      <div class="edit-container"  (click)="boardService.toggleEditOverlay()">
        <div class="edit"></div>
        <p>Edit</p>
      </div>

    </div>
  </div>

    @if (boardService.editOverlayActive == true) {
  <app-kanban-edit [task]="task"></app-kanban-edit>
  }
</section>