section {
    font-size: 10px;
    width: 400px;
    overflow-y: auto;
    overflow-x: hidden;

    @media (max-width: 750px) {
        display: none;
    }

    .content {
        height: auto;
    }

    .new-contact {
        z-index: 1;
        width: 100%;
        height: 9em;
        background-color: white;
        position: sticky;
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .add-button {
        gap: 1em;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        font-size: 21px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 56px;
        background-color: #2a3647;

        &:hover {
            background-color: #29abe2;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        }

        img {
            width: 32px;
            height: 32px;
        }
    }
}

.user-profiles-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .letter-heading-underline {
        width: 90%;
        border-bottom: 1.5px solid rgb(207, 207, 207);
        margin-bottom: 0.7em;
    }
}

.letter-heading-container {
    width: 100%;
    padding-left: 4em;

    .letter-heading {
        margin: 1em 0em;
        font-weight: 500;
        font-size: 2em;
    }
}

.user-profile {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    flex-wrap: nowrap;
    width: 90%;
    height: 78px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1em;

    &:hover {
        background: linear-gradient(to bottom, #ededed30, #e7e7e7);
        border-radius: 0.8em;
    }

    &.active {
        color: white;
        background: #2a3647;
        border-radius: 0.8em;

        .initials {
            border: solid 1px white;
        }
    }

    .initials {
        font-size: 1.2em;
        margin-right: 8%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        width: 42px;
        border-radius: 50px;
        background: rgb(random(256), random(256), random(256));
    }

    .user-name {
        font-size: 2em;
        font-weight: 400;
    }

    .user-mail {
        font-size: 1.6em;

        color: #007cee;
    }
}

@media (max-width: 368px) {
    section {
        font-size: 9px;
    }
}