@use '@angular/material' as mat;

html {

    .mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked,
    .mat-pseudo-checkbox-full.mat-pseudo-checkbox-indeterminate {
        border-color: #091931;
        background-color: white;
        color: #091931;
    }

    .mat-mdc-option:focus.mdc-list-item,
    .mat-mdc-option.mat-mdc-option-active.mdc-list-item {

        .mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked,
        .mat-pseudo-checkbox-full.mat-pseudo-checkbox-indeterminate {
            background-color: #091931;
            border-color: white;
            color: white;
        }

    }

    .mat-mdc-select-arrow svg {
        fill: rgba($color: #000000, $alpha: 0.3);
        position: absolute;
        top: 50%;
        left: -100%;
        transform: translate(-50%, -50%);
    }
    .mat-mdc-option:focus.mdc-list-item,
    .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
    display: flex;
    flex-direction: row-reverse;
    background-color: #2a3647;
    color: white;

    &:hover {
        background-color: #091931;
    }
}

.mat-mdc-option.mdc-list-item {
    display: flex;
    flex-direction: row-reverse;
    background: white;

    .select-initials {
        width: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1em;
        margin-right: 1em;
        color: white;
    }

    &:hover {
        background: #eeeeee;
    }
}

.option-text {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: "Bricolage Grotesque";
    text-decoration: none;
    font-family: Inter;
    scroll-behavior: smooth;
}


@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("./../public/assets/fonts/inter-v19-latin-regular.woff2") format("woff2");
}

/* inter-100 - latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    src: url("./../public/assets/fonts/inter-v19-latin-100.woff2") format("woff2");
}

/* inter-200 - latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: url("./../public/assets/fonts/inter-v19-latin-200.woff2") format("woff2");
}

/* inter-300 - latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url("./../public/assets/fonts/inter-v19-latin-300.woff2") format("woff2");
}

/* inter-500 - latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("./../public/assets/fonts/inter-v19-latin-500.woff2") format("woff2");
}

/* inter-700 - latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("./../public/assets/fonts/inter-v19-latin-700.woff2") format("woff2");
}

/* inter-800 - latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    src: url("./../public/assets/fonts/inter-v19-latin-800.woff2") format("woff2");
}

/* inter-900 - latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("./../public/assets/fonts/inter-v19-latin-900.woff2") format("woff2");
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

button {
    cursor: pointer;
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(20em);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-in-and-out {
    0% {
        transform: translateX(20vw);
        opacity: 0;
    }
    20% {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }
    50% {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }
    80% {
        transform: translateX(20vw);
        opacity: 0;
    }
    100% {
        transform: translateX(20vw);
        opacity: 0;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-left-fullcard {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) translateX(500px);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) translateX(0);
    }
}


@keyframes fade-in-left-overlay-viewport {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) translateX(500px);
    }

    20% {
        opacity: 1;
        transform: translate(-50%, -50%) translateX(0);
    }

    40% {
        opacity: 1;
        transform: translate(-50%, -50%) translateX(0);
    }

    60% {
        opacity: 1;
        transform: translate(-50%, -50%) translateX(0);
    }

    80% {
        opacity: 1;
        transform: translate(-50%, -50%) translateX(0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) translateX(500px);
    }
}

@keyframes fade-in-left-overlay {
    0% {
        opacity: 0;
        transform: translate(100%, 0%);
    }

    100% {
        opacity: 1;
        transform: translate(0%, 0%);
    }
}

@keyframes fade-out-right-overlay {
    0% {
        opacity: 0;
        transform: translate(-50, -50%);
    }

    100% {
        opacity: 1;
        transform: translate(calc(-50% + 50em), -50%);
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-login{
    display: flex;
    background-color: #f0f0f0;
}

@mixin flex ($jc: center, $fd: column, $ai: center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}
