<section>
  <div class="testcontainer">
    <div class="category-moveto">
    <div class="category {{task.category?.toLowerCase()?.replace(' ', '-')}}">{{task.category}} </div>
<div class="move-to-mobile"> <img src="../../../../../assets/img/kanban-board/mobileMoveToButton.png" alt=""></div>
    </div>
    <div class="tite">
      <h4>{{task.title}}</h4>
    </div>
    <div class="description">
      {{task.description}}
    </div>

    <div class="subtask-progress-row">
      <div class="subtask-progress-bar">
        <div class="subtask-progress-bar-fill" [style.width.%]="subtaskProgress"></div>
      </div>
      <div class="subtask-progress-label">
        {{completedSubtasks}}/{{totalSubtasks}} Subtasks
      </div>
    </div>
    
    <div class="user-content">
      <div class="user-area">
        @for (user of task.assignedTo; track $index) {
        <div class="user-details">
          <div class="user initials" [style.background]= user.color>{{ user.initials}} </div>
        </div>

        }
      </div>

      <div class="user-priority">

        <div [class]="task.priority.toLowerCase()"></div>
      </div>

    </div>
  </div>
</section>