<section>
  @for (item of boardService.dummyTasks; track $index) {
  <div class="testcontainer">
  <div class="category">{{item.category}}</div>
  <div class="tite"> <h4>{{item.title}}</h4></div>
    <div class="description"> <p> {{item.description}}</p></div>
    @for (subtask of item.subTask; track $index) {
    <div class="subtask">{{subtask.task}}</div>
    }
    <div class="user-priority">
<!--       @for (user of item.assignedTo; track $index) {
      <div class="user">{{user.name}}</div>
      } -->
      <div [class]="item.priority"></div>
    </div>
</div>
  }
</section>

