<section>
  <div class="content">
    <div class="signup-container">
      <div class="signup-title">
        <img src="assets/img/info-screen/arrow-left-line.png" alt="Back Button">
        <h1>Sign up</h1>
        <div class="title-line"></div>
      </div>
      <div class="signup-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <input type="text" placeholder="Name" formControlName="username">
          <input type="email" placeholder="Email" formControlName="email">
          @if(errorMessage){
            <div>{{errorMessage}}</div>
          }
          <input type="password" placeholder="Password" formControlName="password">
          <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
          <button type="submit" class="register-button">Sign up</button>
        </form>
      </div>
      <div class="required checkbox-privacy">
        <label class="custom-checkbox">
          <input type="checkbox" id="privacy" name="privacy" required />
          <span class="checkmark"></span>
          I accept the
          <a href="/privacy" target="_blank">
            Privacy policy</a>
        </label>
        <span class="error-text">You must accept the Privacy policy</span>
      </div>
      
    </div>
  </div>
</section>