<section>
    <nav>
        <ul>
            <li><a routerLink="/summary"><img src="assets/img/navbar/Summary.png" alt=""><p>Summary</p></a></li>
            <li><a routerLink="/task"><img src="assets/img/navbar/Add task.png" alt=""><p>Add Task</p></a></li>
            <li><a routerLink="/board"><img src="assets/img/navbar/Board.png" alt=""><p>Board</p></a></li>
            <li class="active"><a routerLink="/contacts"><img src="assets/img/navbar/Contacts.png" alt=""><p>Contacts</p></a></li>
        </ul>
    </nav>
</section>