section {
    display: none;
    font-size: 10px;
    height: 8dvh;
    width: 100%;
    background: #2A3647;
    z-index: 5;

    nav {
        height: 100%;

        ul {
            display: flex;
            justify-content: space-evenly;
            color: rgba($color: #FFFFFF, $alpha: 0.5);
            height: 100%;

            @media (max-width:500px) {
                justify-content: center;
            }

            li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 1rem;
                font-weight: lighter;
                margin: 0 2em;
                padding: 0.3em;
                width: 100%;
                height: 100%;
                border-radius: 1.5em;

                @media (max-width:565px) {
                    margin: 0;
                }

                a{
                    gap: 0.5em;
                    display: flex;
                    align-items: center;
                    color: white;
                }

                &:hover {
                    cursor: pointer;
                    background: #2A3D59;
                }

                img {
                    opacity: 0.5;
                }
            }

            .active {
                color: #FFFFFF;
                background: #091931;
                font-weight: normal;

                img {
                    opacity: 1;
                }

                &:hover {
                    cursor: default;
                    background: #091931;
                }
            }
        }
    }

    @media (max-width:965px) {
        display: block;
    }
}