<section>
    <nav>
        <ul>
            <a class="summary" routerLink="/summary"><li><img src="assets/img/navbar/Summary.png" alt=""><p>Summary</p></li></a>
            <a class="task" routerLink="/task"><li><img src="assets/img/navbar/Add task.png" alt=""><p>Add Task</p></li></a>
            <a class="board" routerLink="/board"><li><img src="assets/img/navbar/Board.png" alt=""><p>Board</p></li></a>
            <a class="contacts" routerLink="/contacts"><li><img src="assets/img/navbar/Contacts.png" alt=""><p>Contacts</p></li></a>
        </ul>
    </nav>
</section>