.main-content {
    display: flex;
    height: 100dvh;
    overflow-x: hidden;

    @media (max-width: 965px) {
        height: 92dvh;
    }
}

.main-content-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section {
    background: yellow;
    font-size: 10px;
}

.content {
    background: red;
    width: 100%;
    height: 92dvh;

    .kanban-task-left {
        width: 50%;
        height: 92%;
        background: teal;
        padding: 10em 5em;

        h1 {
            font-size: 6em;
        }

        .kanban-task-input {
            display: flex;
            flex-direction: column;

            label {
                font-size: 16px;
                margin-top: 1.5em;

                .required-asterisk {
                    color: red;
                    margin-left: 0.2em;
                }
            }

            span {
                font-size: 16px;
                margin-top: 1.5em;
                
            }
        }

        input,
        textarea {
            width: 100%;
            height: 2.5em;
            border-radius: 5px;
            border: 2px solid rgba(0, 0, 0, 0.214);
            padding: 0.5em;
            margin-top: 0.4em;
            font-size: 16px;

            &:focus {
                border: 2px solid #29abe2;
            }
        }

        textarea {
            height: 6em;
            border: 2px solid rgba(0, 0, 0, 0.214);
        }

        .kanban-div {
            display: flex;
            flex-direction: column;

            label {
                font-size: 16px;
                margin-top: 1.5em;

                .required-asterisk {
                    color: red;
                    margin-left: 0.2em;
                }
            }
        }
    }

    .kanban-task.right {
        width: 50%;
        height: 92%;
        background: teal;
        padding: 10em 5em;
    }
}

.contact-list-content {
    display: flex;
    height: 90%;
}

.contact-list-component {
    display: flex;
    height: auto;

    @media (max-width: 750px) {
        width: 100%;
    }

    @media (min-width: 750px) {
        display: flex;
    }
}

.hidden {
    display: none;
}

.info-screen-component {
    height: auto;
    width: 100%;

    @media (max-width: 750px) {
        display: none;
    }
}

.app-info-screen-mobile-component {
    width: 100%;

    @media (min-width: 750px) {
        display: none;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
}

.createdContact {
    z-index: 4;
    width: 15em;
    height: 4em;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 14px;
    border: 1px solid black;
    background-color: #2a3647;
    color: white;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15);
    animation: fade-in-left-overlay-viewport 2s ease-in-out;
}

.display {
    display: flex;
}
