.main-content {
    display: flex;
    height: 100dvh;
    overflow-x: hidden;

    @media (max-width: 965px) {
        height: 92dvh;
    }
}

.main-content-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section {
    font-size: 10px;
}

.content {
    display: flex;
    width: 100%;
    height: 92dvh;

    // ----------- Left Side ----------
    .left-addtask {
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .left-content-wrapper {
            display: flex;
            flex-direction: column;
            gap: 4em;
            height: 100%;
            width: 80%;

            .kanban-form {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;
                gap: 30px;
                height: 100%;


                // bottom: 2.5em;
                .without-required {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 100%;
                    height: 100%;

                    h1 {
                        // bottom: 1.5em;
                        font-size: 6em;
                    }

                    .form-input-content {
                        height: 50dvh;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                    }

                    .div-cont {
                        display: flex;
                        flex-direction: column;
                        min-height: 64px;



                        input,
                        textarea {
                            min-height: 48px;
                            border-radius: 15px;
                            padding: 0.5em;
                            font-size: 16px;
                            resize: none;
                            border: 2px solid rgba(0, 0, 0, 0.049);



                            &:focus {
                                border: 2px solid #29abe2;
                            }
                        }

                        textarea {
                            min-height: 64px;
                            height: 16dvh;
                        }

                        span {
                            color: rgba(0, 0, 0, 0.746);
                            font-size: 1.6em;
                        }
                    }

                    .form-label {
                        font-size: 1.6em;

                        .required-asterisk {
                            color: red;
                            margin-right: 1em;
                        }
                    }


                }

                .form-label {
                    font-size: 1.6em;

                    .required-asterisk {
                        color: red;
                        margin-right: 1em;
                    }
                }

                .required-label {
                    font-size: 1.6em;
                    margin-bottom: 8dvh;
                    // top: 10em;
                }

            }
        }
    }
}

.line {
    top: 22dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2px;
    height: 50dvh;
    background-color: rgba(0, 0, 0, 0.049);
    margin: 0px 2px;
}

.user-feedback {
    z-index: 4;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    animation: fade-in-bottom-overlay-viewport 2s ease-in-out;
}

// ----------- Right Side ----------
.right-addtask {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .right-content-wrapper {
        display: flex;
        flex-direction: column;
        width: 80%;
        // top: 5em;

        .kanban-addtask-priority {
            width: 100%;
            display: flex;
            flex-direction: column;

            p {
                font-size: 1.6em;
            }

            .priority-buttons {
                display: flex;
                justify-content: space-between;
                margin-bottom: 4em;

                .active-urgent {
                    background-color: #ff3d00;
                    color: white;
                }

                .active-medium {
                    background-color: #ffa800;
                    color: white;
                }

                .active-low {
                    background-color: #7ae229;
                    color: white;
                }

                button {
                    display: flex;
                    gap: 0.4em;
                    background-color: white;
                    border: solid rgba(0, 0, 0, 0.049) 2px;
                    border-radius: 10px;
                    font-size: 20px;
                    padding: 10px 16px;
                    transition: box-shadow 0.3s ease;

                    img {
                        width: 20px;
                    }

                    &:hover {
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }

        .kanban-assigned-to {
            display: flex;
            flex-direction: column;
            width: 100%;

            .assigned-span {
                font-size: 1.6em;
            }

            .all-user-container {
                width: 100%;

                mat-select {
                    display: flex;
                    align-items: center;
                    border: 2px rgba(0, 0, 0, 0.049) solid;
                    width: 100%;
                    border-radius: 10px;
                    height: 48px;
                    font-size: 16px;
                    overflow-x: hidden;
                    color: white;

                    &:hover {
                        border: 2px rgba(0, 0, 0, 0.694) solid;
                    }

                    &:focus {
                        border: 1px #29abe2 solid;
                    }
                }
            }
        }

        .category-dropdown {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            .form-label {
                font-size: 1.6em;

                .required-asterisk {
                    color: red;
                    margin-right: 1em;
                }
            }

            select {
                border: 2px rgba(0, 0, 0, 0.049) solid;
                width: 100%;
                border-radius: 10px;
                height: 48px;
                font-size: 16px;
                overflow-x: hidden;
                color: rgb(0, 0, 0);

                .select-category {
                    width: 100%;
                    background: white;
                    border-radius: 10px;
                    padding: 12px;
                }

                &:hover {
                    border: 2px rgba(0, 0, 0, 0.694) solid;
                }

                &:focus {
                    border: 1px #29abe2 solid;
                }
            }
        }

        .kanban-overlay-subtask {
            width: 100%;
            padding-top: 3em;

            .subtask-span {
                font-size: 16px;
                padding-bottom: 0.4em;
            }

            .subtaskfield {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 2px solid rgba(0, 0, 0, 0.049);
                border-radius: 10px;
                width: 100%;
                height: 48px;

                input {
                    width: 100%;
                    padding: 1em;
                    height: 48px;
                    border: transparent;
                    font-size: 16px;
                    background-color: transparent;

                    &:focus {
                        border-radius: 10px;
                    }
                }

                .add,
                .submit-cancel {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    right: 1em;
                    cursor: pointer;
                }

                .add {
                    z-index: 10;
                    height: 100%;

                    img {
                        border-radius: 50%;
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.091);
                            
                        }
                    }
                }
            }

            .submit-cancel {
                            button {
                                background-color: transparent;
                                border: transparent;
                            }
        }

        .each-sub-task {
            display: flex;
            justify-content: flex-end;
            margin-top: 10em;
            gap: 1.5em;

            .clear {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: solid rgba(0, 0, 0, 0.049) 2px;
                border-radius: 10px;
                font-size: 1.8em;
                padding: 8px 10px;
                transition: box-shadow 0.3s ease;

                img {
                    margin-left: 0.5em;
                }

                &:hover {
                    color: #29abe2;
                    border: 2px #29abe2 solid;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                }
            }

            .create-task {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #2a3647;
                border: solid rgba(0, 0, 0, 0.049) 2px;
                border-radius: 10px;
                font-size: 1.8em;
                padding: 10px 18px;
                transition: box-shadow 0.3s ease;

                img {
                    margin-left: 0.5em;
                }

                &:hover {
                    background-color: #29abe2;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}

// -------- Other Components ----------
.contact-list-content {
    display: flex;
    height: 90%;
}

.contact-list-component {
    display: flex;
    height: auto;

    @media (max-width: 750px) {
        width: 100%;
    }

    @media (min-width: 750px) {
        display: flex;
    }
}

.hidden {
    display: none;
}

.info-screen-component {
    height: auto;
    width: 100%;

    @media (max-width: 750px) {
        display: none;
    }
}

.app-info-screen-mobile-component {
    width: 100%;

    @media (min-width: 750px) {
        display: none;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
}

.createdContact {
    z-index: 4;
    width: 15em;
    height: 4em;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 14px;
    border: 1px solid black;
    background-color: #2a3647;
    color: white;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15);
    animation: fade-in-left-overlay-viewport 2s ease-in-out;
}

.display {
    display: flex;
}

input[type="number"] {
    appearance: textfield;
}

.createdContact {
    z-index: 4;
    width: 15em;
    height: 4em;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 14px;
    border: 1px solid black;
    background-color: #2a3647;
    color: white;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15);
    animation: fade-in-left-overlay-viewport 2s ease-in-out;
}

.display {
    display: flex;
}

.mat-mdc-option:focus.mdc-list-item,
.mat-mdc-option.mat-mdc-option-active.mdc-list-item {
    display: flex;
    flex-direction: row-reverse;
    background-color: #2a3647;
    color: white;

    &:hover {
        background-color: #091931;
    }
}

.mat-mdc-option.mdc-list-item {
    display: flex;
    flex-direction: row-reverse;
    background: white;

    .select-initials {
        width: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1em;
        margin-right: 1em;
        color: white;
    }

    &:hover {
        background: #eeeeee;
    }
}

.option-text {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.errorborder {
    border: 2px solid red !important;
}

.invalid-input {
    height: 10px;
    font-size: 12px;
    color: red;
}
}