@import "./../../../styles.scss";
@import "./right-addtask.scss";

.main-content {
    display: flex;
    height: 100dvh;
    overflow-x: hidden;

    @media (max-width: 965px) {
        height: 92dvh;
    }

    .main-content-input {
        display: flex;
        flex-direction: column;
        width: 100%;

        section {
            font-size: 10px;
            max-width: (1920px - 230px);
            overflow-y: scroll;

            .content {
                display: flex;
                width: 100%;
                height: 92dvh;

                @media (max-width: 965px) {
                    height: 84dvh;
                    flex-direction: column;
                }

                .left-addtask {
                    width: 49%;
                    @include flex();
                    flex-direction: column;
                    padding-top: 2em;

                    @media (max-width: 965px) {
                        width: 100%;
                    }

                    .left-content-wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 4em;
                        height: 100%;
                        width: 80%;

                        @media (max-width: 1300px) {
                            width: 90%;
                        }

                        .kanban-form {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            width: 100%;
                            height: 100%;

                            .invalid-input {
                                height: 10px;
                                font-size: 12px;
                                color: red;
                            }

                            .without-required {
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                                height: 100%;
                                padding-top: 8dvh;

                                @media (max-width: 965px) {
                                    padding-top: 4dvh;
                                }

                                h1 {
                                    font-size: 6em;
                                    margin-bottom: 0.7em;

                                    @media (max-width: 965px) {
                                        margin-bottom: 0.5em;
                                    }
                                }

                                .form-input-content {
                                    height: 50dvh;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;

                                    // @media (max-width: 965px) {
                                    //     height: 22dvh;
                                    // }
                                }

                                .div-cont {
                                    display: flex;
                                    flex-direction: column;
                                    min-height: 64px;
                                    margin-bottom: 3em;

                                    @media (max-width: 965px) {
                                        min-height: 24px;
                                        margin-bottom: 2em;
                                    }

                                    input,
                                    textarea {
                                        min-height: 48px;
                                        border-radius: 15px;
                                        padding: 0.5em;
                                        font-size: 16px;
                                        resize: none;
                                        border: 2px solid rgba(0, 0, 0, 0.049);

                                        &:focus {
                                            border: 2px solid #29abe2;
                                        }
                                    }

                                    textarea {
                                        min-height: 64px;
                                        height: 16dvh;

                                        // @media (max-width: 965px) {
                                        //     display: none;
                                        //     z-index: -1;
                                        // }
                                    }

                                    // .span-description {
                                    //     @media (max-width: 965px) {
                                    //         display: none;
                                    //         z-index: -1;
                                    //     }
                                    // }

                                    span {
                                        color: rgba(0, 0, 0, 0.746);
                                        font-size: 1.6em;
                                    }

                                    .required-asterisk {
                                        color: red;
                                    }
                                }
                            }

                            .required-label {
                                font-size: 1.6em;
                                margin-bottom: 6dvh;

                                @media (max-width: 965px) {
                                    margin-bottom: 4dvh;
                                }

                                @media (max-width: 965px) {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .middle-content {
                    @include flex();
                    height: 100%;
                    width: 2%;

                    .line {
                        display: flex;
                        width: 2px;
                        height: 50dvh;
                        background-color: rgba(0, 0, 0, 0.049);
                        margin: 0px 2px;

                        @media (max-width: 965px) {
                            display: none;
                        }
                    }
                }
            }

            .user-feedback {
                z-index: 4;
                position: fixed;
                display: none;
                justify-content: center;
                align-items: center;
                top: 50%;
                left: 50%;
                animation: fade-in-bottom-overlay-viewport 2s ease-in-out;
            }
        }
    }
}

.createdTask {
    z-index: 4;
    width: 15em;
    height: 4em;
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    font-size: 16px;
    display: none;
    border-radius: 14px;
    border: 1px solid black;
    background-color: #2a3647;
    color: white;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15);
    animation: fade-in-left-overlay-viewport 2s ease-in-out;
}

.display {
    display: flex;
}

//===========================  multiple uses Css Part  ==================================
.errorborder {
    border: 2px solid red !important;
}

.normalborder {
    border: 2px solid rgba(0, 0, 0, 0.049);
}

.form-label {
    font-size: 1.6em;

    .required-asterisk {
        color: red;
        margin-right: 1em;
    }
}

.invalid-input {
    height: 10px;
    font-size: 12px;
    color: red;
}

//========================================================================================

.already-assigned {
    height: 2em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 0.5em;

    .select-initials {
        width: 2em;
        height: 2em;
        font-size: 1.6em;
        @include flex();
        border-radius: 1em;
        color: white;
    }

    .more-users {
        font-size: 16px;
    }
}

.each-sub-task {
    overflow-y: auto;
    height: 80px;
    margin-top: 1em;
    border: solid rgba(0, 0, 0, 0.049) 2px;
    padding: 1em 2em;
    border-radius: 1.5em;

    li {
        font-size: 16px;
    }

    textarea {
        height: 25px;
        width: calc(100% - 5em);
        background: transparent;
        border: none;
        border-bottom: 2px solid #29abe2;
        resize: none;
        font-size: 16px;
        color: #333;
        outline: none;
        padding-bottom: 4px;
        vertical-align: bottom;

        &:focus {
            border-bottom: 2px solid #29abe2;
        }
    }
}